@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
 text-size-adjust: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*============================================================================*/
/*=====GENERAL================================================================*/
/*============================================================================*/

body {
	margin: 0;
	background-image: url(../images/background-picture.jpg);
	background-repeat: repeat;
}

h1 {
	display: none;
}

a:focus {
	outline: none;
	box-shadow: 0 0 3pt 2pt #fff;
	background-color: rgba(255,255,255, 0.25);
}

.skip-links {
	margin: 0;
	padding: 0;
	list-style-type: none;
	}

.skip-links a {
	position: absolute;
	top: -3em;
	background-color: #fff;
	color: #000;
	padding: 0.75em 0.75em;
	z-index: 9999;
	border-radius: 0.5em;
}

.skip-links a:focus {
	top: 4em;
}

/*============================================================================*/
/*=====HEADER=================================================================*/
/*============================================================================*/

header {
	margin: 0;
	height: 4em;
	background-color: #00a9a7;
	background-image: url("../images/textured_header.svg");
	background-size: cover;
	position: relative;
	z-index: 100;
}

.nav-btn {
	height: 4em;
	display: block;
	position: absolute;
	right: 1em;
}

.logo {
	position: absolute;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.5));
}

.logo img {
	height: 6em;
	position: fixed;
	z-index: 999;
}

/*============================================================================*/
/*=====NAVIGATION=============================================================*/
/*============================================================================*/

.nav {
	margin: 0;
	position: absolute;
	width: 100%;
	z-index: 9;
}

.menu {
	overflow: hidden;
	transition: all 200ms ease-out;
	height: 0;
}

.js-menu-open {
	height: 15em;
}

.nav-list {
	position: absolute;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0.5em;
	text-align: center;
	background-color: #fcb615;
}

.nav-list li {
	padding: 0.25em;
	margin: 1.25em;
}

.nav-list a {
	text-decoration: none;
	color: #fff;
}

/*============================================================================*/
/*=====SOCIAL MEDIA===========================================================*/
/*============================================================================*/

.sm {
	position: absolute;
	bottom: 0.5em;
	right: 0.5em;
	background-color: #00a9a7;
	border-radius: 0.5em;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.5));
}

.sm-footer {
	list-style: none;
	padding: 0.25em;
}

.sm-list {
	padding: 0;
	margin: 0;
}

.sm-list a {
	width: 2.5em;
	height: 2.5em;
	overflow: hidden;
}

.sm-list li {
	display: inline-block;
	padding: 0.25em;
	width: 2.5em;
	margin: 0.5em;
}

/*============================================================================*/
/*=====LIGHTBOX===============================================================*/
/*============================================================================*/

.gallery-lb {
	width: 100%;
	margin-top: 0;
}

.lightbox {
	position: fixed;
	left: 0;
	right: 0;
	top: -100%;
	bottom: 100%;
	background-color: rgba(0,0,0,0.5);
	transition: all 200ms ease-out;
	opacity: 0;
	z-index:10000;
}
.lightbox[data-state="visible"] {
	opacity: 1;
	bottom: 0;
	top: 0;
}

.lightbox-container {
	position: absolute;
	left: 0.25em;
	right: 0.25em;
	bottom: 0.25em;
	top: 0.25em;
	background-color: #111;
	border-radius: 1em;
	box-shadow: 1px 1px 4px #000;
}

.lightbox-img {
	position: absolute;
	display: block;
	max-width: 100%;
	max-height: 80vh;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.lightbox-content {
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 2em);
	height: 85vh;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.lightbox-heading, .lightbox-caption {
	width: 100%;
	padding: 0.5em;
	position: absolute;
	color: #fff;
	background-color: rgba(0,0,0,0.15);
	z-index: 100;
	border-radius: 1em;
}

.lightbox-heading {
	top: 0;
	font-size: 1.5em;
}

.lightbox-caption {
	margin: 0;
	bottom: -1em;
	font-size: 1em;
}

.btn-close {
	position: absolute;
	right: 1em;
	top: 1em;
	width: 1.5em;
	height: 1.5em;
	background-image: url(../images/close.svg);
	cursor: pointer;
	z-index: 9999;
}

.thumbnails {
	background-color: #fff;
	overflow: hidden;
	position: relative;
	-webkit-animation: fade 200ms forwards;
	animation: fade 200ms forwards;
}

.thumbnails a{
	text-decoration: none;
}
.thumbnails img {
	display: block;
	background-color: #fff;
	width: 100%;
	transition: all 200ms ease-out;
}
.thumbnails img:hover, .thumbnails a:focus img {
		opacity: 0.75;
}

.thumbnails a:focus .thumb-title{
	font-size: 1.5em;
}

.thumb-title {
	-webkit-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
	background-color: rgba(0,0,0,0.5);
	padding: 0.5em;
	margin: 0;
	margin-bottom: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	text-decoration: none;
	color: #eee;
	text-align: center;
}

/*============================================================================*/
/*=====BILLBOARD==============================================================*/
/*============================================================================*/

.billboard {
	height: calc(100vh - 4em);
	background-color: #00a9a7;
	background-image: url(../images/icons.svg), url(../images/billboard_background.svg);
	background-size: auto 20em, cover;
	background-repeat: repeat, no-repeat;
	background-position: 0px 0px, center;
	-webkit-animation: scroll 20000ms linear infinite, none;
	animation: scroll 20000ms linear infinite, none;
	vertical-align: center;
}

@-webkit-keyframes scroll {
	from { background-position: 0 0, 0 0; }
	to { background-position: 0 -20em, 0 0; }
}

@keyframes scroll {
	from { background-position: 0 0, 0 0; }
	to { background-position: 0 -20em, 0 0; }
}

.billboard img {
	width: 80%;
	max-width: 800px;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-filter: drop-shadow(0 1px 5px rgba(0,0,0,.5));
	z-index: 150;
}

.vignette {
	background-image: url(../images/vingette.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 4em);
}

.vignette img {
	z-index: 0;
}

/*============================================================================*/
/*=====MAIN===================================================================*/
/*============================================================================*/

.section {
	height: 100vh;
	overflow: hidden;
	position: relative;
}

.section-head {
	font-family: 'Lobster', serif;
	font-size: 2em;
	padding: 0.5em 1em 0.5em 5em;
	background-color: #00a9a7;
	background-image: url("../images/textured_header.svg");
	background-size: cover;
	background position: center;
	margin-bottom: 0;
}

.content {
	margin: 0;
	padding: 0;
  position: absolute;
  height: calc(100vh - 6em);
  top: 6em; left: 0; bottom: 0; right: 0;
}

.about p {
	margin: 0;
	max-width: 500px;
}

.quotee {
	font-style: italic;
	text-align: right;
	padding: 1em;
}

.about-img {
	width: 100%;
	max-width: 500px;
}

.clip {
	z-index: -1;
}

.services-content {
	height: auto;
	background-color: #000;
}

.services {
	height: calc(200vw + 6em);
	background-color: #000
}

.services h2 {
	margin: 0;
}

.galleria {
	width: 100%;
	height: calc(100vh - 6em);
	background: #000;
}

.gallery-content {
	height: 100vh;
	margin: 0;
	padding: 0;
  position: absolute;
  height: calc(100vh - 6em);
  top: 6em; left: 0; bottom: 0; right: 0;
  z-index: -1;
}

/*.gallery-content .grid {
	height: 100%;
}*/

.gallery {
	height: 100vh;
	background-color: #000;
	z-index: -2
}

.contact-list {
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

.contact-list li {
	margin: 1em;
}

.contact-list a {
	text-decoration: none;
	color: #000;
}

/*============================================================================*/
/*=====FOOTER=================================================================*/
/*============================================================================*/

footer {
	margin: 0;
	background-color: #00a9a7;
	height: 4em;
	padding: 0.75em;
	overflow: hidden;
}

.copyright {
	margin: 0;
	position: absolute;
	color: #fff;
}

.sm-footer {
	position: absolute;
	right: 0.5em;
	margin: 0;
}

.sm-footer li {
	width: 2em;
	display: inline-block;
	margin-left: 0.5em;
}

.sm-footer a {

}

/*============================================================================*/
/*=====MEDIA QUERIES==========================================================*/
/*============================================================================*/

@media only screen and (min-width: 25em) {
	.services {
		height: auto;
	}
}

@media only screen and (min-width: 35em) {
	.nav-btn {
		display: none;
	}

	.nav {
		top: 0;
		right: 0;
		width: calc(100% - 8em);
		height: 4em;
		z-index: 800;
		height: 4em;
		display: block;
	}

	.nav-list {
		width: auto;
		position: absolute;
		right: 0.5em;
		display: block;
		padding: 0;
		height: 4em;
		background-color: rgba(255,255,255,0);
	}

	.nav-list a {
		padding-top: 0.75em;
		margin: 0.5em 0;
		height: 3em;
		display: inline-block;
		width: 6em;
		background-color: #fcb615;
		border-radius: 0.5em;
		vertical-align: center;
	}

	.nav-list li {
		display: inline-block;
		margin: 0;
		padding: 0;
		height: 3em;
	}

}

@media only screen and (min-width: 60em) {
	.section {
		height: auto;
		overflow: hidden;
		min-height: 36em;
	}

	.section-head {
  padding: 0em 1em 0em calc(6% + 5em);
  font-size: 3em;
}

	.content {
		height: auto;
	}

	.gallery {
		height: 100vh;
	}

	.gallery-content{
		z-index: -1;
}
	.logo img {
		left: 6%;
		width: 10em;
		height: auto;
		z-index: 99999;
	}

	.left {
		margin: 0 auto;
		margin: right: 1em;
		max-width: 500px;
	}

	.right {
		margin: 0 auto;
		margin-left: 1em;
		max-width: 500px;
	}
}













